html{
    scroll-behavior: smooth;
    max-width: 100%;
}
body{
    width: 100%;
    overflow-x: hidden;
}
table.a{
    background-color: #ff6600;
    position: fixed;
    width: 100%;
    height: 90px;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 10px;
    z-index: 1;
}
.year{
    padding-right: 25px;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  position: relative;
  top:100px;
  left: 100px;
  width:35%;
  height: 420px;
  background-color: #F9F5DC;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding-top: 10px;
  padding-left: 10px;
}
h4:after{
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #bbb;
    position: absolute;
    left:200px;
    top:290px;
    
}
.name{
    font-size: 30px;
    padding-left: 80px;
    color: white;
}
.name2{
    font-size: 30px;
    padding-left: 120px;
    padding-top: 120px;
    padding-bottom: 20px;
}
.name3{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}
.name4{
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
}
.author{
    font-size:18px;
}
img{
    max-height: 200px;
    max-width: 200px;
    /*float: left;*/
    margin-left: 30%;
    margin-top: 20px;
    /*border-radius: 50%;*/
}
.icon{
    margin-left: 135px;
    border: none;
}
.icon2{
    margin-left: 20px;
    border: none;
}
.fa-linkedin {
  /*-o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;*/
  -webkit-transition: 0.5s;
  /*transition: 0.5s;*/
  cursor: pointer;
}
.fa-linkedin:hover {
}
.fa-envelope {
  /*-o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;*/
  -webkit-transition: 0.5s;
  /*transition: 0.5s;*/
  cursor: pointer;
}
.fa-envelope:hover {
}
.fa-github {
  /*-o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;*/
  -webkit-transition: 0.5s;
  /*transition: 0.5s;*/
  cursor: pointer;
}
.fa-github:hover {
}

#b1{
    position: fixed;
    right: 400px;
    top:15px;
}
#b2{position: fixed;
    right: 230px;
    top:15px;
}
#b3{
    position: fixed;
    right: 100px;
    top:15px;
}
.button {
  background-color: #ff6600;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  float: right;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
}
.button span2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span2:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span2 {
  padding-right: 25px;
}

.button:hover span2:after {
  opacity: 1;
  right: 0;
}

.w3-display-position{
    position: relative;
    left:150px;
    top:-140px;
    }

.info{
    position: absolute;
    top:500px;
    left:100px;
    right:20px;
    padding-top: 20px;
    /*
    padding-left: 140px;
    padding-right: 50px;*/
}
.about{
    position: absolute;
    bottom:300px;
    left:650px;
    right:50px;
    padding-top: 20px;
}

span{
    color:#ff6600;
    font-family: "poppins-semibold","poppins", sans-serif;
    font-size-adjust: auto;
    line-height: 25px;
}
h2{
    font-size: 21px;
    font-family: "poppins-semibold","poppins", sans-serif;
    line-height: 0.75;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    color: black;
    text-align: left;
}
h3{
    font-family: "poppins-semibold","poppins", sans-serif;
    line-height: 0.75;
    font-size:20px;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    /*margin-left:5px;*/
    text-align: left;
}
h5{
    font-family: "poppins-semibold","poppins", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
}
ul{
    font-family: "poppins-semibold","poppins", sans-serif;
    line-height: 20px;
    font-size: 19px;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: -35px;
    text-align: left;
}
ul li{
    list-style: none;
}
p{font-family: "poppins-semibold","poppins", sans-serif;
    line-height: 25px;
    font-size: 19px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left:5px;
    text-align: left;
}
.pos{
    padding-top: 80px;
}
.ref{
    font-size: 20px;
    color: black;
    margin-left: 5px;
}
.footer{
    float: right;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}